/* css reset */

*,
*::before,
*::after {
  box-sizing: border-box;
  border: 0;
}

* {
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
  user-select: none;
}

input,
button,
textarea,
select {
  font: inherit;
  font-size: inherit;
}

button p::selection {
  color: inherit;
}

p,
label,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  text-wrap: pretty;
}

#root,
#__next {
  isolation: isolate;
}

a {
  color: inherit;
  text-decoration: none;
}

.large {
  display: block;
}

.small {
  display: none;
}

/* css reset end */

/* custom */

:root {
  /* sub-heading at the top of the app UI */
  --PaleViolet: hsl(276, 100%, 81%);
  /* chat on the left */
  --ModerateViolet: hsl(275.8, 56.9%, 41%);
  /* chat on the right */
  --DesaturatedDarkViolet: hsl(271, 15%, 43%);
  /* placeholder text */
  --GrayishBlue: hsl(206, 6%, 79%);
  /* main heading */
  --VeryDarkDesaturatedViolet: hsl(271, 36%, 24%);
  /* paragraph */
  --DarkGrayishViolet: hsl(267.7, 5.3%, 47.6%);

  /* #### Gradients */

  /* These two colors are the vibrant background colors you see throughout the design
   and are applied as a linear gradient: */

  /* --Gradient1: hsl(293, 100%, 63%); old */
  --Gradient1: hsl(293, 79.6%, 55.7%);
  /* --Gradient2: hsl(264, 100%, 61%); old */
  --Gradient2: hsl(264.3, 87.3%, 40%);

  /* ### Secondary */

  --White: hsl(0, 0%, 100%);
  /* app background */
  --LightGrayishViolet: hsl(270, 20%, 96%);
  /* submit button background */
  --VeryDarkDesaturatedViolet: hsl(271, 36%, 24%);
  /* radio button outline */
  --VeryLightMagenta: hsl(289, 100%, 72%);

  --fontgrow: calc(12px + 0.278625vw);
  --chatpadding: 12px;
}

/* custom end */

h1 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 25px;
  color: var(--VeryDarkDesaturatedViolet);
}

p {
  line-height: 1.8;
  font-size: 1rem;
  color: var(--DarkGrayishViolet);
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--White);
  height: 100%;
  width: 100%;
  /* background: url(/design/desktop-design.jpg) no-repeat center center;
  opacity: 0.5; */
  font-family: "Rubik", sans-serif;
}

.background {
  overflow: hidden;
}

.bg1 {
  position: absolute;
  height: 85%;
  width: 29.3%;
  top: 0;
  left: 0;
  border-radius: 0px 0px 211px 211px;
  background: linear-gradient(
    180deg in oklab,
    var(--Gradient1),
    var(--Gradient2)
  );
  z-index: -2;
}

.bg2 {
  position: absolute;
  height: 85%;
  width: 22.5%;
  bottom: 0;
  right: 0;
  border-radius: 160px 160px 0 0;
  background: var(--LightGrayishViolet);
  z-index: -3;
}

main {
  display: flex;
  height: 100%;
  justify-content: center;
  align-content: center;
  gap: 9.5%;
  margin-left: 11.5%;
}

.phone-container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 505px;
  max-height: 800px;
  height: 505px;
  /* height: 25%; */
  aspect-ratio: 9 / 18;
  border: 10px solid var(--White);
  border-radius: 30px;
  font-size: 0.5rem;
  line-height: 1.3;
  box-shadow: 0px 20px 50px 10px rgba(0, 0, 0, 0.26);
  font-size: clamp((calc(0.47rem + 0vw), 0.5rem, 0.5rem));
}

.phone {
  background-color: var(--LightGrayishViolet);
  height: 100%;
  width: 100%;
  border-radius: 15px;
  z-index: -1;
}

.phone-top-cutout {
  display: block;
  position: relative;
  width: 131px;
  height: 30px;
  top: -10px;
  margin-top: -50px;
  background-color: white;
  margin: auto;
  border-radius: 0px 0px 15px 15px;
  z-index: 10;
}

.phone-menu {
  display: flex;
  position: relative;
  top: -30px;
  padding-top: 15px;
  border-radius: 10px 10px 7px 7px;
  height: 14%;
  width: 101%;
  right: 1px;
  background: linear-gradient(
    -90deg in oklab,
    var(--Gradient1),
    var(--Gradient2)
  );
  color: white;
  align-items: center;
}

.menu-back {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  width: 20px;
  height: 20px;
  margin-left: 10px;

  &::after {
    content: "<";
  }
}

.menu-avatar {
  display: block;
  height: 24px;
  aspect-ratio: 1 / 1;
  border: 1px white solid;
  border-radius: 50%;
  margin-right: 9px;
}

p.name {
  font-size: 0.65rem;
  font-weight: 700;
  line-height: 1.8;
  color: var(--White);
}

p.role {
  font-size: 0.5rem;
  line-height: 1;
  color: var(--White);
}

.menu-more {
  position: absolute;
  right: 11px;
  top: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 20px;
  height: 20px;

  &::after {
    content: "⋮";
  }
}

.chat-container {
  position: relative;
  height: 71%;
  top: -35px;
  margin-block: 18px;
  margin-inline: var(--chatpadding);
}

.chat-user-1 {
  display: flex;
  justify-content: start;
  text-align: left;
  width: fit-content;
  margin-bottom: var(--chatpadding);
  padding-block: 6px;
  padding-inline: 8px;
  border-radius: 5px 5px 5px 0px;
  background-color: hsla(283, 55%, 83%, 0.308);
  color: var(--ModerateViolet);
  max-width: 60%;
  box-shadow: 0px 5px 4px -5px rgba(0, 0, 0, 0.2);
}

.chat-user-1-special {
  display: flex;
  align-items: center;
  background: linear-gradient(
    90deg in oklab,
    var(--Gradient1),
    var(--Gradient2)
  );
  margin-bottom: var(--chatpadding);
  height: 30px;
  height: 8.7%;
  padding: 5px;
  border-radius: 5px 5px 5px 0px;
  max-width: 75%;
  justify-content: space-between;
}

input[type="radio"] {
  display: inline-flex;
  margin-left: 5px;
  margin-right: 10px;
  fill: black;
  appearance: none;
  accent-color: var(--VeryLightMagenta);
  font: inherit;
  color: white;
  width: 12px;
  aspect-ratio: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em white;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

.special-detail {
  display: flex;
  color: var(--White);

  /* &::before {
    content: '-';
    margin-right: 10px;
  } */
}

.special-price {
  color: var(--White);
  font-size: 0.8rem;
  font-weight: 700;
  margin-right: 10px;
}

.right-text {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 100%;
}

.chat-user-2 {
  position: relative;
  display: flex;
  width: fit-content;
  margin-bottom: var(--chatpadding);
  padding: 5px;
  background-color: var(--White);
  color: var(--DesaturatedDarkViolet);
  border-radius: 5px 5px 0px 5px;
  max-width: 60%;
  box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.2);
}

.chat-user-2-img {
  position: relative;
  display: flex;
  gap: 8px;
  margin-bottom: var(--chatpadding);
  background-color: transparent;

  img {
    height: 40px;
    border-radius: 10px;
    aspect-ratio: 1 / 1;
  }
}

.send-message-container {
  position: relative;
  display: flex;
  padding-left: 15px;
  padding-right: 5px;
  background-color: var(--White);
  margin: auto;
  width: 90%;
  height: 30px;
  align-items: center;
  bottom: 35px;
  border-radius: 25px;
  justify-content: space-between;

  .send-message {
    color: #737373;
  }

  .send-arrow {
    text-align: center;
    background-color: var(--VeryDarkDesaturatedViolet);
    color: white;
    width: 22px;
    aspect-ratio: 1;
    border-radius: 50%;
    font-size: 1rem;
    font-weight: 700;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  padding-right: 65px;
  font-size: var(--fontgrow);

}
