/* css reset */

*,
*::before,
*::after {
  box-sizing: border-box;
  border: 0;
}

* {
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
  user-select: none;
}

input,
button,
textarea,
select {
  font: inherit;
  font-size: inherit;
}

button p::selection {
  color: inherit;
}

p,
label,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  text-wrap: pretty;
}

#root,
#__next {
  isolation: isolate;
}

a {
  color: inherit;
  text-decoration: none;
}

.large {
  display: block;
}

.small {
  display: none;
}

/* css reset end */

/* custom */

:root {
  --PaleViolet: hsl(276, 100%, 81%);
  --ModerateViolet: hsl(275.8, 56.9%, 41%);
  --DesaturatedDarkViolet: hsl(271, 15%, 43%);
  --GrayishBlue: hsl(206, 6%, 79%);
  --VeryDarkDesaturatedViolet: hsl(271, 36%, 24%);
  --DarkGrayishViolet: hsl(267, 6%, 36%);

  --Gradient1: hsl(293, 79.6%, 55.7%);
  --Gradient2: hsl(264.3, 87.3%, 40%);

  --White: hsl(0, 0%, 100%);
  --LightGrayishViolet: hsl(270, 20%, 96%);
  --VeryDarkDesaturatedViolet: hsl(271, 36%, 24%);
  --VeryLightMagenta: hsl(289, 100%, 72%);

  --fontgrow: clamp(0.5rem, calc(12px + 0.278625vw), 1rem);
  --chatgap: clamp(12px, calc(12px + (100vw - 1440px) * 0.0093), 20px);
  --chatpaddingblock: clamp(6px, calc(6px + (100vw - 1440px) * 0.003949), 9px);
}

/* custom end */

::selection {
  color: var(--VeryLightMagenta);
}

h1 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 25px;
  color: var(--VeryDarkDesaturatedViolet);
}

p {
  font-size: 1rem;
  line-height: 1.8;
  color: var(--DarkGrayishViolet);
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--White);
  height: 100%;
  width: 100%;
  font-family: "Rubik", sans-serif;
  font-size: var(--fontgrow);
}

.background {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -2;
  transition: all 1s;
}

.bg1 {
  position: absolute;
  height: 88%;
  width: 800px;
  top: 0;
  left: clamp(-500px, -26.5vw, -350px);
  border-radius: 0 0 50% 50%;
  background: linear-gradient(
    180deg in oklab,
    var(--Gradient1),
    var(--Gradient2)
  );
  z-index: -2;
  transition: left 1s, height 1s, width 1s;
}

.bg2 {
  content: "";
  position: absolute;
  height: 88%;
  width: 800px;
  bottom: 0;
  right: clamp(-500px, -26.5vw, -350px);
  rotate: 180deg;
  border-radius: 0 0 50% 50%;
  background: var(--LightGrayishViolet);
  opacity: 0.9;
  z-index: -2;
  transition: right 1s, height 1s, width 1s;
}

main {
  display: flex;
  height: 100%;
  justify-content: center;
  align-content: center;
  gap: 9.5%;
  margin-left: 11.5%;
  transition: all 1s;
}

.phone-container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 505px;
  max-height: 800px;
  height: 35vw;
  aspect-ratio: 9 / 18;
  border: 0.5vw solid var(--White);
  border-width: clamp(10px, 0.5vw, 12px);
  border-radius: 30px;
  font-size: clamp(8px, calc(8px + (100vw - 1440px) * 0.005349), 12.6px);
  line-height: 1.3;
  box-shadow: 0px 20px 50px -10px rgba(0, 0, 0, 0.26);
  animation: float 3s ease-in-out infinite;
  animation-delay: 8s;
  transition: transform 1s ease-in-out;
  z-index: 10;

  &:hover {
    animation-play-state: paused;
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.phone {
  display: block;
  position: relative;
  background-color: var(--LightGrayishViolet);
  height: 100%;
  width: 100%;
  border-radius: 20px;
  z-index: -1;
}

.phone-top-cutout {
  display: block;
  position: relative;
  width: 57%;
  height: 30px;
  top: -10px;
  margin-top: -50px;
  background-color: var(--White);
  margin: auto;
  border-radius: 0px 0px 13px 13px;
  z-index: 10;
}

.phone-menu {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  color: var(--White);
  top: -30px;
  padding-top: 15px;
  padding-top: 5%;
  border-radius: 20px 20px 7px 7px;
  height: 14%;
  width: 100%;
  right: 1px;
  background: linear-gradient(
    -90deg in oklab,
    var(--Gradient1),
    var(--Gradient2)
  );
  z-index: -1;
}

.menu-back {
  display: flex;
  position: relative;
  justify-content: start;
  align-items: center;
  margin-left: 7%;
  margin-right: 7%;
  font-weight: 700;
  transform: scaleY(2.5) scaleX(1.5);
  cursor: pointer;

  &::selection {
    color: inherit;
  }
}

.menu-avatar {
  display: block;
  position: relative;
  height: 24px;
  height: 43%;
  aspect-ratio: 1 / 1;
  border: 1px var(--White) solid;
  border-radius: 50%;
  margin-right: 7%;
  place-content: center;
}

.contact-info {
  width: 51%;
  user-select: none;
}

p.name {
  font-size: clamp(10.4px, calc(10.4px + (100vw - 1440px) * 0.008837), 18px);
  font-weight: 700;
  line-height: clamp(130%, 0.9vw, 140%);
  color: var(--White);
}

p.role {
  font-size: 8px;
  font-size: 12.6px;
  font-size: clamp(8px, calc(8px + (100vw - 1440px) * 0.005349), 12.6px);

  line-height: 1;
  color: var(--White);
}

.menu-more {
  display: flex;
  position: relative;
  justify-content: end;
  align-items: center;
  color: var(--White);
  height: 9%;
  margin-left: 7%;
  margin-right: 7%;
  font-size: 0.8rem;
  font-weight: 700;
  cursor: pointer;

  &::selection {
    color: inherit;
  }
}

.chat-container {
  position: relative;
  height: 72%;
  top: -15px;
  margin-inline: var(--chatgap);
}

.chat-user-1 {
  display: flex;
  justify-content: start;
  text-align: left;
  width: fit-content;
  margin-bottom: var(--chatgap);
  padding-block: var(--chatpaddingblock);
  padding-inline: 8px;
  border-radius: 12px 12px 12px 2px;
  background-color: hsla(283, 55%, 83%, 0.308);
  color: var(--ModerateViolet);
  max-width: 60%;
  box-shadow: 0px 5px 4px -5px rgba(0, 0, 0, 0.2);
}

.chat-user-1-special {
  display: flex;
  align-items: center;
  background: linear-gradient(
    90deg in oklab,
    var(--Gradient1),
    var(--Gradient2)
  );
  margin-bottom: var(--chatgap);
  height: 8.7%;
  padding: 6px;
  border-radius: 12px 12px 12px 3px;
  max-width: 75%;
  justify-content: space-between;
}

input[type="radio"] {
  display: inline-flex;
  margin-left: 5px;
  margin-right: 10px;
  fill: black;
  appearance: none;
  accent-color: var(--VeryLightMagenta);
  font: inherit;
  color: var(--White);
  aspect-ratio: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  height: 1em;
  width: 1em;
  aspect-ratio: 1;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--White);
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

.special-detail {
  display: flex;
  color: var(--White);
}

.special-price {
  color: var(--White);
  font-size: clamp(10.4px, calc(10.4px + (100vw - 1440px) * 0.008837), 18px);
  font-weight: 700;
  margin-right: 10px;
}

.right-text {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 100%;
}

.chat-user-2 {
  position: relative;
  display: flex;
  width: fit-content;
  margin-bottom: var(--chatgap);
  padding-block: var(--chatpaddingblock);
  padding-inline: 8px;
  background-color: var(--White);
  color: var(--DesaturatedDarkViolet);
  border-radius: 12px 12px 2px 12px;
  max-width: 60%;
  box-shadow: 01px 5px 10px -5px rgba(0, 0, 0, 0.2);
}

.chat-user-2-img {
  position: relative;
  display: flex;
  gap: 3%;
  margin-bottom: var(--chatgap);
  background-color: transparent;
  justify-content: end;

  img {
    min-height: 40px;
    min-width: 40px;
    height: 20%;
    width: 20%;
    border-radius: 10px;
    aspect-ratio: 1 / 1;
    cursor: pointer;
  }
}

.send-message-container {
  position: absolute;
  display: flex;
  padding-left: 15px;
  padding-right: 5px;
  background-color: var(--White);
  margin: auto;
  width: 90%;
  height: 6.5%;
  align-items: center;
  bottom: 2%;
  left: 5%;
  border-radius: 25px;
  justify-content: space-between;
  color: var(--DarkGrayishViolet);

  .send-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--VeryDarkDesaturatedViolet);
    color: var(--White);
    width: 13%;
    height: 79%;
    border-radius: 50%;
    font-size: 1rem;
    font-size: clamp(16px, calc(16px + (100vw - 1440px) * 0.01163), 26px);
    font-weight: 700;
    cursor: pointer;

    &:hover {
      background: linear-gradient(
        90deg in oklab,
        var(--Gradient1),
        var(--Gradient2)
      );
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  padding-right: 65px;
}

.happydog {
  position: absolute;
  height: 300px;
  width: 300px;
  bottom: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
}

.happydog.show {
  opacity: 1;
  visibility: visible;
}

.walkingdog {
  position: absolute;
  height: 50px;
  width: 50px;
  bottom: 6%;
  left: 80%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
}

.walkingdog.show {
  opacity: 1;
  visibility: visible;
  animation: walk 5s linear;
}

@keyframes walk {
  0% {
    left: 0%;
  }

  100% {
    left: 80%;
  }
}

.phone-element {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

@media screen and (max-width: 1050px) {
  main {
    margin-left: 2%;
    gap: 10.5%;
  }

  .content {
    padding-right: 10px;
  }
}

@media screen and (max-width: 800px) {
  html {
    height: auto;
  }

  .bg1 {
    height: 55%;
    width: 101%;
    left: -50%;
  }

  .bg2 {
    height: 55%;
    width: 101%;
    right: -50%;
  }

  main {
    flex-direction: column;
    align-items: center;
    padding-block: 50px;
  }

  .phone-container {
    height: auto;
    width: 275px;
  }

  .content {
    text-align: center;
    margin-inline: 10px;
    margin-top: 50px;
    width: 32ch;
  }

  .happydog {
    height: 150px;
    width: 150px;
  }
}
